.classroom-photos {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  padding: 20px;
}

.photo-thumbnail {
  width: 300px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease;
}

.photo-thumbnail:hover {
  transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-image {
  width: 60%;
  height: 70%;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.classroom-left,
.classroom-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.classroom-left {
  left: 40px;
}

.classroom-right {
  right: 40px;
}
.classroom-featcher{
    padding: 60px 80px;
    height: 450px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.circle-design{
    position: absolute;
    top:1600px;
    width:1200px;
    height: 600px;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    background: linear-gradient(
  180deg,
  rgba(219, 162, 233, 0.55) 10%,      
  rgba(226, 162, 233, 0.4) 30%,     
  rgba(225, 162, 233, 0.2) 50%,     
  transparent 60%);

}
.circle-head{
    margin-top: 100px;
    font-family: outfit;
    font-size: 38px;
    font-weight: 700;
    padding: 20px;
}
.features-container{
  position: relative;
  width: 1000px;
  margin: 70px auto;
  border-radius: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.feature-item {
  position: absolute;
  text-align: center;
  justify-items: center;
  font-weight: 600;
  transition: transform 0.1s ease;
  width: 200px;
}
.feature-item .icon {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  color: rgb(1, 129, 131);
}
.feature-item .icon:hover{
  border: 2px solid #ffbb00ff;
  color: rgb(12, 52, 54);
}

/* Positions around the oval */
.item-1 {
  top: 50px;
  left: 100%;
  transform: translate(-50%, -20%);
}

.item-2 {
  top: 0;
  left: 80%;
  transform: translate(-50%, -50%);
}

.item-3 {
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-4 {
  top: 0;
  left: 20%;
  transform: translate(-50%, -50%);
}

.item-5 {
  top: 50px;
  left: 0;
  transform: translate(-50%, -20%);
}
.feature-item p{
  font-family: Outfit;
  font-size: 22px;
}