.footer {
  background: #008b94; /* same as screenshot background */
  color: white;
  padding: 40px 60px;
  font-family: Inria Sans;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
 
}
.footer-logo {
  width: 370px;
  height: auto;
}
.footer-contact p img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    
}
.footer-address {
  width: 400px;
  margin: 10px 0;
   font-size: 20px;
}
.footer-col h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  border-left: 4px solid #f1c40f; /* yellow line like in screenshot */
  padding-left: 8px;
}
.two-column-links{
    display: flex;
    gap: 20px;
}
.footer-col ul {
  list-style: none;
  width: 200px;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 25px;
   font-size: 20px;
}

.footer-col ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.footer-col ul li a:hover {
  color: #f1c40f;
}

.social-icons {
  display: flex;
  gap: 25px;
  margin-top: 10px;
}
.social-icons a img {
    width: 34px;
    height: 34px;
    border-radius: 5px;
}

.social-icons a:hover {
  color: #f1c40f;
}

/* Responsive */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .social-icons {
    margin-top: 10px;
  }
}
