.gallery-banner {
  width: 100%;
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  height: 550px;
  display: block;
  object-fit: cover;
}
.gallery-container {
  width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  text-align: center;
}

.gallery-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #111;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 30px;
  justify-items: center;
}


.image-card img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.caption {
  margin-top: 10px;
  font-size: 0.95rem;
  color: #555;
}
